<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/main.js"></script>
    <title>HomePage-Django</title>
</head>
<body>
    <h1>Seja Bem vindo ao projeto de django</h1>
    

    <section  class="section">
        <div  class="contatiner">
            <h4 class="title-text">Aqui foi feito o projeto em django</h4>
            <p class="text">
                Parabéns você chegou até aqui, é apenas o começo de uma grande sucesso!
            </p>
            <h4 class="title-text">
                Estou apenas começando o meu projeto em django, vai ser complementar em ciência de dados.
            </h4>

            <div class="info">
                <h1>Formulario-Quizz</h1>
                <br>
                <div class="info2">
                    <form >
                        <label>Qual é o seu nome?</label>
                        <br>
                        <input type="text" placeholder="Qual é o seu nome?">
                        <br>
                        <label >Seu email?</label>
                        <br>
                        <input type="email" placeholder="Seu Email">
                        <br>
                        <label>Gostaria de aprender django?</label>
                        <br>
                        <input type="checkbox"> Sim
                        <input type="checkbox"> Não
                        <br><br><br>
                        <button type="submit" onclick="Save()">Enviar</button>
                    </form>
                </div>
            </div>

        </div>
    </section>
    
</body>
</html>